<div class="container">
  <div class="row">
    <div class="text">
      {{product.brand}} {{product.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ">
      <img src="data:image/png;base64,{{product.imageData}}" alt="image of product" class="rounded float-left" height="400px">
    </div>
    <div class="col-md-4 ">

  <p class="text">super processor</p>
  <p class="text">amazing camera</p>
  <p class="text">fast faceid</p>
  <p class="text">big size of memory</p>
  <p class="text">type-c</p>
  <p class="text">aluminium</p>
  <p class="text">amoled display</p>
    </div>
    <div class="col-md-3 ">
<div class="btn btn-success">Buy</div>
    </div>
  </div>
</div>